<!-- Gallery -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}"{{ end }}>
    {{ if .title }}
    {{ if .content }}
        <div class="inner">
            {{ if .title }}
                <h2>{{ .title }}</h2>
            {{ end }}
            {{ if .content }}
                <p>{{ .content | markdownify }}</p>
            {{ end }}
        </div>
    {{ end }}
    {{ end }}

    <!-- Gallery -->
    <div class="gallery {{ .style }}">
        {{ range .pictures }}
            {{ partial "picture" . }}
        {{ end }}
    </div>
</section>