<!-- Spotlight -->
<section class="spotlight {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button">{{ .label }}</a></li>
        </ul>{{ end }}
    </div>
        <div class="image">
            <!--<a href="{{ .button.link }}" class="button">-->
                <img src="{{ .image }}" alt="" onclick='window.location = {{ .button.link }}'/>
            <!--</a>-->
        </div>

    {{ with .yturl }}
    <div class="image">
        <iframe width="700" height="500" src="{{ . }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>{{ end }}
</section>