* {
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker';
  background: url("/bg.jpg");
  background-position: center top;
}
.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.wrapper {
  max-width: 100%;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.photo-inner {
  background: #edede8;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}
.photo-inner > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.photo-card img {
  aspect-ratio: auto;
}
.photo-card.square img{
  aspect-ratio: 10/10;
}
.photo-card.tall img {
  aspect-ratio: 10/16;
}
.photo-card.wide img {
  aspect-ratio: 16/10;
}
.photo-card.clickable {
  cursor: pointer;
}
.caption {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: -0.3rem;
}
.photo-card {
  font-family: 'Patrick Hand SC';
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;

  /*min-width: 30rem;
  width: 45%;*/

  display: inline-block;
  margin: 1.5rem;
  transition: all 0.35s;
}

.photo-card:nth-child(7n+1) {
  transform: rotate(0.75deg);
}
.photo-card:nth-child(7n+2) {
  transform: rotate(-1.1deg);
}
.photo-card:nth-child(7n+3) {
  transform: rotate(1.3deg);
}
.photo-card:nth-child(7n+4) {
  transform: rotate(1.2deg);
}
.photo-card:nth-child(7n+5) {
  transform: rotate(0.3deg);
}
.photo-card:nth-child(7n+6) {
  transform: rotate(-0.75deg);
}
.photo-card:nth-child(7n+0) {
  transform: rotate(-1deg);
}

@media only screen and (max-width: 50rem) and (max-aspect-ratio: 4/3){
  /* little screen */
  .mw2 .photo-card, .mw3 .photo-card {
    width: 84%;
  }

  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 50rem) and (max-aspect-ratio: 4/3){
  /* medium screen */
  .mw2 .photo-card, .mw3 .photo-card {
    width: 42%;
  }

  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 100rem) and (max-aspect-ratio: 4/3){
  /* big screen */
  .mw3 .photo-card {
    width: 28%;
  }

  .wrapper {
    width: 100%;
  }
}

/* Over 1 is landscape, less than it is portrait */

@media only screen and (max-width: 80rem) and (min-aspect-ratio: 4/3){
  /* little screen */
  .mw2 .photo-card, .mw3 .photo-card {
    width: 84%;
  }

  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 80rem) and (min-aspect-ratio: 4/3){
  /* medium screen */
  .mw2 .photo-card, .mw3 .photo-card {
    width: 42%;
  }

  .wrapper {
    width: 50rem;
  }
}

@media only screen and (min-width: 120rem) and (min-aspect-ratio: 4/3){
  /* big screen */
  .mw3 .photo-card {
    width: 28%;
  }

  .wrapper {
    width: 80rem;
  }
}

.photo-card.fullwidth {
  width: 100%;
}
.photo-card.fullwidth > img{
  aspect-ratio: auto;
  width: 100%;
  height: auto;
}

.title > img {
  width: 100%;
  height: auto;
  transition: all 0.35s;
}

.title:hover > img{
  transition: all 0.35s;
  transform: scale(1.05, 1.05) rotate(-0.5deg) !important;
}

.photo-card:hover {
  filter: none;
  transition: all 0.35s;
  box-shadow: 0rem 0.5rem 1rem 0.5rem rgba(0,0,0,0.3);
  color: #000;
  transform: scale(1.05, 1.05) rotate(0deg) !important;
}
.photo-card .photo-inner:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.photo-card:hover .photo-inner:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;

  transition: all 0.35s;
}
