---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p>I grew up on a farm. When I was about 5, riding in the combine with mom or dad, I'd always read the repair manual. I was drawn to LEGO, erector, engineering/technology projects in 4-H, started an FRC team. </p>
            <p>I became the controls lead, but grew tired of this so went to Rose-Hulman for a B.S. in Mechanical Engineering. I worked with the robotics team for a while, but ran into some really passionate fellows at the FSAE team, and fell in love all over again.</p>
            <p>I'm a jack of all trades, and sometimes it seems, a master of some. I write custom simulation software, do lots of FEA analysis, optimize vehicles, design transmissions, lead teams, machine parts, and somehow manage to find time to get decent grades, apparently. I'd love to talk with you about any of this- sharing knowledge is another passion of mine.</p>
            <p><br/><a href="/contact/" class="btn btn-theme">Contact Me</a></p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>