<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} – {% endif %}{{ site.title }}{% if not title and site.subtitle %} – {{ site.subtitle }}{% endif %}</title>{% endif %}
    {% block customscript %}{% endblock %}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <center>
                <h1 id="title"><a href="{{ get_url() }}">I'm <em>Thad</em>.</a></h1>
                {% if site.subtitle %}<h2 id="subtitle">{{ site.subtitle }}</h2>{% endif %}
                <img src="/assets/images/cross.svg" width="150px" style="margin-top: 10px;" />
            </center>
            <ul class="nav">
                <li><a href="http://thadhughes.xyz">Main</a></li>
                <li><a href="http://everycalc.thadhughes.xyz">EveryCalc</a></li>
                <li><a href="http://blog.thadhughes.xyz">Blog</a></li>
                <li><a href="http://thadhughes.xyz/fsae">FSAE</a></li>
                <li><a href="http://thadhughes.xyz/comprobotics">Robotics</a></li>
            </ul><ul class="nav">
                <li><a href="http://thadhughes.xyz/contact">Contact</a></li>
                <li><a href="http://thadhughes.xyz/resume">Resume</a></li>
                <li><a href="http://github.com/Thaddeus-Maximus">GitHub</a></li>
                <li><a href="http://instagram.com/tha_deus_ex_machina">Insta</a></li>
                <li><a href="mailto:hughes.thad@gmail.com">Email</a></li>
            </ul><ul class="nav">
                <li><a href="http://blog.thadhughes.xyz/feed.xml">Blog RSS Feed</a></li>
            </ul>

            <p>Farm boy turned design engineer for <a href="http://www.dekaresearch.com/">DEKA R&D</a>, who does a good bit of engineering on the side. I play with nuts, bolts, bits, and bytes.</p>

            <div id="footer">
                <p>{% if site.author %}© {{ none|date('%Y') }} {{ site.author }} – {% endif %}powered by <a href="http://mynt.uhnomoli.com/">mynt</a></p>
            </div>
        </div>

        <div id="topbar">
            <h1 id="title"><a href="{{ get_url() }}">I'm <em>Thad</em>.</a></h1>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>

