
<header class="main_header">
  <a href="{{site.baseurl}}/">Home</a>

  <nav class="main_menu">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}{% endif %}</a>
  {% if site.google_url %}
  <a href="{{ site.google_url }}" target="_blank">G+ <i class="fa fa-google" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.twitter_url %}
  <a href="{{ site.twitter_url }}" target="_blank">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.instagram_url %}
  <a href="{{ site.instagram_url }}" target="_blank">Insta <i class="fa fa-instagram" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.pinterest_url %}
  <a href="{{ site.pinterest_url }}" target="_blank">Pintrest <i class="fa fa-pinterest" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.dribbble_url %}
  <a href="{{ site.dribbble_url }}" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.facebook_url %}
  <a href="{{ site.facebook_url }}" target="_blank">FB <i class="fa fa-facebook" aria-hidden="true"></i></a>
  {% endif %}
    <a href="{{site.baseurl}}/assets/resume.pdf">Resume</a>
    <a href="{{site.baseurl}}/recsnrefs/">Recommendations / References</a>
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> <!-- End Section Header -->