{% extends 'layout.html' %}


{% set title = 'Machinery' %}

{% block breadcrumbs %}
    <ul id="breadcrumbs">
        <li><a href="{{ get_url() }}">Home</a></li>
        <li>Machinery</li>
    </ul>
{% endblock %}


{% block customscript %}
<script>
$(document).ready( function () {
  $("#tilewall").tileWall({

    //  minimum milliseconds between two resize events to refresh the tile wall
    debounceTime: 100,

    // if > 0, hide navigation tiles on viewports less wide than the given pixels
    hideNavTilesOnViewportWidthSmallerThan: 0,

    // maximum number of columns
    maxNumCols: 7,

    // minimum number of columns
    minNumCols: 3,

    // minimum width of a tile
    minTileWidth: 250,

    // if > 0, shrink all tiles to 1x1 size on viewports less wide than the given pixels
    shrinkTilesOnViewportWidthSmallerThan: 300,

    // CSS class for tiles
    tileClassName: "tile",

    // space between tiles
    tileMargin: 0,

    // use (1) or don't use (0) css transitions
    transition: 0
    
  })
});
</script>
{% endblock %}

{% block content %}
        <h1 class="post-title">Competitive / Educational Robotics</h1>
        <h2 class="post-meta">"Fail Harder" - JVN</h2>

    <p>My story with robotics has been long. I started playing with the LEGO Mindstorms stuff when I was 10 or so, and did a lot with that through 4H (fair projects, some state competitions). When I just got into high school, I started <a href="http://metalcowrobotics.com">FRC team #4213</a>, which I captained, and a few FLL teams which I mentored.</p>

    <p>After high school I took a hiatus from FRC (which I <a href="https://johnvneun.com/blog/2018/7/22/mentoring-frc-in-college">recommend you do as well</a>, if you're at that stage in life), and did <a href="/fsae">Formula SAE</a>.</p>

    <p>When I moved out to work for Dean himself, I started mentoring FRC #501.</p>

    <p>Here's a number of projects or things that I've done in this sphere. <em>I highly recommend you check out EveryCalc. It's an awesome tool.</em></p>

  <div id="tilewall">
      {% for post in posts.items -%}
      {% if "robotics" in post.tags -%}
      <div class="tile" >
        <a href="{{ get_url(post.url) }}">
          <span style="display:none" class="timestamp">{{ post.timestamp }}</span>
          <img src="{{ get_asset('images/' + post.image) }}" />
          <div class="tile-overlay"><div class="tile-overlay-text">
            {{ post.title }}
          </div></div>
        </a>
      </div>
      {%- endif %}
      {%- endfor %}
  </div>
{% endblock %}

