@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse; }

body {
  background-size: 25px 25px;
  background-image: linear-gradient(0deg, rgba(217, 203, 155, 0.4) 1.5px, transparent 1.5px), linear-gradient(90deg, rgba(217, 203, 155, 0.4) 1.5px, #fefbaf 1.5px);
  color: #313124;
  font-family: "Bitter", "Ubuntu", sans-serif;
  font-size: 13px;
  line-height: 18px; }

blockquote, dl, ol, p, pre, table, ul {
  margin: 18px 0px; }

blockquote {
  overflow: hidden;
  padding: 0px 18px;
  background-color: #fbf88f; }

dl.horizontal > dd, .archives > dd, .archives-records > dd {
  margin-left: 65px; }
  dl.horizontal > dd + dt, .archives > dd + dt, .archives-records > dd + dt {
    margin-top: 18px; }
    dl.horizontal > dd + dt + dd, .archives > dd + dt + dd, .archives-records > dd + dt + dd {
      margin-top: 18px; }
dl.horizontal > dt, .archives > dt, .archives-records > dt {
  float: left;
  width: 50px; }

h1, h2, h3, h4, h5, h6 {
  color: #313124;
  font-style: normal;
  font-weight: normal; }

h1, h2 {
  line-height: 36px; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

li {
  position: relative; }
  ol > li:before, ul > li:before {
    position: absolute;
    color: #141414; }
  ol > li {
    left: 22px;
    margin-right: 22px;
    counter-increment: item; }
    ol > li:before {
      left: -22px;
      width: 17px;
      text-align: right;
      content: counter(item,decimal) "."; }
  ul > li {
    left: 12px;
    margin-right: 12px; }
    ul > li:before {
      left: -12px;
      content: "•"; }
  ul.unstyled > li, #nav > li, #breadcrumbs > li {
    position: static;
    left: auto;
    margin-right: 0px; }
    ul.unstyled > li:before, #nav > li:before, #breadcrumbs > li:before {
      position: static;
      left: auto;
      content: none; }

ol, ul {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none; }
  ol ol, ol ul, ul ol, ul ul {
    margin: 0px;
    margin-left: 20px; }

ol {
  counter-reset: item; }

p {
  text-align: justify; }

pre {
  padding: 0px 3px;
  background-color: #fbf88f;
  font-family: "Inconsolata", "Envy Code R", "Ubuntu Mono", monospace; }

table {
  background-color: #fbf88f;
  border-collapse: collapse; }

td, th {
  padding: 9px; }

td > :first-child {
  margin-top: 0px; }
td > :last-child {
  margin-bottom: 0px; }
tr:nth-child(2n) > td {
  background-color: #fefb7f; }

th {
  background-color: #fefbaf;
  color: #141414;
  font-style: italic;
  font-weight: normal;
  text-align: left; }

a {
  color: #228f01;
  text-decoration: underline; }
  a:hover {
    color: #141414; }

code {
  padding: 0px 3px;
  background-color: #fbf88f;
  color: #32311d;
  font-family: "Inconsolata", "Envy Code R", "Ubuntu Mono", monospace;
  line-height: 17px;
  white-space: pre; }
  pre code {
    padding: 0px;
    background-color: transparent;
    color: #228f01;
    line-height: 18px; }
  table code {
    background-color: #fefbaf; }

em {
  font-style: italic; }

img {
  vertical-align: bottom; }
  a > img {
    padding: 5px;
    background-color: #fbf88f; }

strong {
  font-weight: bold; }

sub, sup {
  font-size: 11px;
  line-height: 0px; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

#container {
  margin-top: 18px;
  width: 960px; }
  @media screen and (max-width: 700px) {
    #container {
      width: 100%; } }

#sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px 18px;
  width: 200px; }
  @media screen and (max-width: 700px) {
    #sidebar {
      display: none; } }

#topbar {
  display: none;
  width: 100%;
  padding: 18px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px; }
  @media screen and (max-width: 700px) {
    #topbar {
      display: block; } }

#title {
  margin-top: 18px; }

#subtitle {
  line-height: 18px; }

#nav {
  margin-top: 18px; }

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 18px;
  width: 200px; }
  @media screen and (max-width: 700px) {
    #footer {
      display: none; } }

#breadcrumbs {
  position: fixed;
  top: 18px;
  left: 254px;
  margin: 0px;
  padding: 9px;
  width: 688px; }

#content {
  margin: 18px 0px;
  margin-left: 254px;
  width: 706px; }
  #content > :first-child {
    margin-top: 0px; }
  #content > :last-child {
    margin-bottom: 0px; }
  #breadcrumbs + #content {
    margin-top: 72px; }
  @media screen and (max-width: 700px) {
    #content {
      margin-left: 0px;
      width: 100%; } }

.post-list > .post-title, .post-list > .post-meta {
  padding: 9px; }
.post-list > .post-title {
  padding-bottom: 0px;
  line-height: 18px; }
.post-list > .post-meta {
  padding-top: 0px; }

.post-title, .post-meta {
  padding: 12px; }

.post-title {
  padding-bottom: 0px;
  line-height: 30px; }

.post-meta {
  margin-bottom: 18px;
  padding-top: 0px;
  line-height: 18px; }

div.code {
  margin: 18px 0px; }
  div.code > div {
    overflow: auto;
    max-height: 486px; }

.highlighttable {
  margin: 0px; }

.linenodiv > pre, .highlight > pre {
  margin: 0px; }

.archives {
  padding: 9px; }

.archives-records {
  margin: 0px;
  padding: 0px; }

#sidebar, #topbar {
  background-color: #fbf88f;
  font-style: italic; }

#title {
  font-family: "Patua One", "Ubuntu Mono", sans-serif;
  font-size: 36px; }
  #title > a {
    color: #313124; }
    #title > a:hover {
      color: #141414; }

#subtitle {
  color: #32311d;
  font-size: 16px; }

#nav {
  font-family: "Patua One", "Ubuntu Mono", sans-serif;
  font-style: normal;
  text-transform: uppercase; }

#footer {
  font-size: 11px;
  font-style: normal;
  text-transform: uppercase; }

#breadcrumbs {
  background-color: #fefbaf;
  color: #32311d;
  font-family: "Patua One", "Ubuntu Mono", sans-serif;
  font-style: italic; }
  #breadcrumbs > li {
    float: left; }
    #breadcrumbs > li:after {
      padding: 0px 6px;
      color: #313124;
      font-style: normal;
      content: "›"; }
    #breadcrumbs > li:last-child:after {
      padding: 0px;
      content: none; }

.post-list > .post-title {
  font-size: 16px; }
.post-list > .post-meta {
  font-size: 10px; }
  .post-list > .post-meta > a {
    color: #313124; }
    .post-list > .post-meta > a:hover {
      color: #141414; }

.post-title, .post-meta {
  background-color: #fbf88f; }

.post-title {
  font-size: 24px; }

.post-meta {
  color: #32311d;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 2px;
  font-size: 11px; }
  .post-meta > span {
    position: relative;
    top: -1px; }

div.code > div {
  background-color: #fbf88f; }

.highlighttable {
  background-color: transparent; }

.linenos {
  background-color: #fefbaf;
  color: #32311d; }

.linenodiv > pre, .highlight > pre {
  padding: 0px;
  background-color: transparent; }

.archives {
  background-color: #fbf88f;
  font-style: italic;
  text-transform: uppercase; }

.archives-year {
  font-size: 18px; }
  .archives-year > a {
    color: #313124; }
    .archives-year > a:hover {
      color: #141414; }

.archives-post-date {
  color: #32311d;
  font-size: 12px; }

.archives-post-title {
  text-transform: none; }

.archives-post-tags {
  color: #32311d;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 2px;
  font-size: 10px; }
  .archives-post-tags > a {
    color: #313124; }
    .archives-post-tags > a:hover {
      color: #141414; }
  .archives-post-tags > span {
    position: relative;
    top: -1px; }

/** CUSTOM */
.post img {
  width: 100%; }

.tile {
  background-color: #fbf88f;
  vertical-align: middle;
  font-family: "Patua One", "Ubuntu", sans-serif;
  width: 250px;
  height: 250px;
  float: center;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px; }

.tile img {
  background-color: transparent;
  height: 100%;
  width: 100%;
  object-fit: cover;
  float: center;
  padding: 0px;
  margin: 0px; }

.tile-overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 246, 205, 0.85);
  color: #313124;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle; }

.tile:hover .tile-overlay {
  opacity: 1; }

.tile:hover img {
  webkit-filter: blur(2px);
  filter: blur(2px); }

.tile-overlay-text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: #313124; }

em {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #141414; }

#main-header {
  font-family: "Patua One", "Ubuntu Mono", sans-serif;
  font-size: 72pt;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 180px;
  text-align: center;
  vertical-align: middle;
  color: #313124; }

#main-header-banner {
  background-image: url("/assets/images/header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 750px 150px;
  height: 100%;
  margin: 0px;
  padding: 0px; }
  @media screen and (max-width: 700px) {
    #main-header-banner {
      background-size: 150px 150px;
      background-image: url("/assets/images/cross.svg"); } }

/*# sourceMappingURL=screen.css.map */
