//
// IMPORTS
//
//@import compass/css3/shared

//
// VARIABLES
//

// COLORS
$bg-d: #fefb7f
$bg: #fefcaf
$bg-trans: rgba(255, 246, 205, 0.85)
$sbg: #fefbaf
$sbg-l: #fbf88f
$bg-grid: rgba(217, 203, 155, 0.4)
$fg-d: #32311d
$fg: #313124  //#1f1f1f
$fg-l: #313124 //#1a1a1a
$hlt: #141414 // #F23F0F
$hlt-l: #141414 // #F23F0F
$pygments-fg: #228f01
$link: #228f01

$img-hover-blur: 2px

// DIMENSIONS
$baseline: 18px
$container: 960px
$sidebar: 200px
$transwid: 700px

$offset: $sidebar + ($baseline * 3)
$content: $container - $offset


//
// MIXINS
//
@mixin compact-children
    & > :first-child
        margin-top: 0px

    & > :last-child
        margin-bottom: 0px

@mixin inverted-links
    & > a
        color: $fg-l

        &:hover
            color: $hlt

@mixin post-meta
    color: $fg-d
    font-style: normal
    text-transform: uppercase
    word-spacing: 2px

    & > span
        position: relative
        top: -1px

