{{ define "main" }}

    {{ partial "banner" site.Data.banner }}

    {{ partial "spotlight" site.Data.machinaeexdeo}}

    {{ partial "spotlight" site.Data.littlecreators}}

    {{ partial "spotlight" site.Data.everycalc}}

    {{ partial "spotlight" site.Data.makerspace}}

    {{/*partial "items" site.Data.ongoingProjects*/}}

    {{/*partial "spotlight" site.Data.bio*/}}

    {{ partial "gallery" site.Data.gallery }}

    {{/*partial "spotlight" site.Data.ethos*/}}

    {{/*partial "spotlight" site.Data.video*/}}
    
    {{ partial "template/footer" . }}

{{ end }}